@font-face {
    font-family: "plain_light";
    src: url("./fonts/plain-light-webfont.ttf");
}

@font-face {
    font-family: "plain_regular";
    src: url("./fonts/plain-regular-webfont.ttf");
}

@font-face {
    font-family: "silk_ligh_italic";
    src: url("./fonts/silkserif-lightitalic-webfont.ttf");
}
@font-face {
    font-family: "silk_regular_italic";
    src: url("./fonts/silkserif-regularitalic-webfont.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain_light";
    color: #fff;
    
}

/* #0B0B0B */

#loader{
    height: 100%;
    width: 100%;   
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
    overflow: hidden;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1vw;
}

#line1-part1 h5,
#line1-part1 h6{
    font-size: 3vw;
    font-family: 'silk_ligh_italic';
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500 ;
}

.line h2{
    font-size: 5.3vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime{
    0%{
        font-family: "plain_light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain_light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk_ligh_italic";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk_ligh_italic";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0 ;
    }
}



html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    background-color: #030303;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color:  #151515;
}